<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p style="margin-bottom: 15px;">Kyriarch Construction and Trading Corporation (KCTC) is duly registered in the Philippine Securities and Exchange Commission as a general construction and trading company.</p>
                    <p style="margin-bottom: 15px;">Our trademark, Kyriarch Engineering, emerged from a collaboration between a sole-proprietorship engineering consultancy firm and a renewable energy company. Over the years, Kyriarch Engineering has evolved into a dynamic partner in the construction industry, engineering design, and consulting services.</p>
                    <p style="margin-bottom: 15px;">Today, KCTC offers a vast range of engineering solutions in construction, property development, and facilities management. Through the collective experience of our seasoned team, we are passionate about delivering integrated solutions for clients. Whether it is construction execution or project management services, we are driven to execute all scales of projects from different engineering trades.</p>
                    <p style="font-style: italic;">“We realize that the true value of our partnerships emerges when our clients are served well and when their projects are accomplished according to their terms. Our proof is that 98% of our construction volume are returning customers. We aspire to take your engineering worries so you can focus on more important things — your business.”</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
