<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-honeycomb.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-pilmico.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-sltec.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-slmmh.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-keppel-shipyard.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-unilever.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-pdmc.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-anytime-fitness.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-bayo.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/clients/client-brilliant-skin.png" alt="">
                    </div>
                </div
            </div>
        </div>
    </div>
</div>
