<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/1-slide-item-mechanical.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s"><span>M</span>echanical</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Air conditioning and ventilation system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Refrigeration system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Compressed air system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Plumming system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Elevators
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Escalators
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Generators
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                            </p>
                            <!---
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                            --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/2-slide-item-fire-protection.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s"><span>Fire</span> protection</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Automatic fire sprinkler system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Aqueous film forming foam
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Fire detection and alarm system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Fire pump and jockey pump assembly
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Kitchen and fire suppression system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Fire suppression system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Wet and dry standpipe system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                            </p>
                            <!---
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                            --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/3-slide-item-plumbing-sanitary.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s"><span>P</span>lumbing</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Sewage treatment system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Water supply
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              System drainage system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                            </p>
                            <!---
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                            --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/4-slide-item-auxiliary.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s"><span>A</span>uxilliary</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Closed circuit television system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Fire detection and alarm system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Building management system (BMS)
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Structured cabling
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Internet of Things (loT)
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                            </p>
                            <!---
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                            --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/5-slide-item-electrical.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s"><span>E</span>lectrical</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Power distribution system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Lighting system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Grounding system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              Solar photovoltaic system
                              <span style="font-size: 50px; height: 0; position: relative; top: -3px; margin-left: 5px; margin-right: 5px;">.</span>
                              <br />
                            </p>
                            <!---
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                            --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
