<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <!---
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,words which don't look even slightly believable.</p>
                    --->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/joeven-jagocoy.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Joeven Jagocoy</h3>
                        <span>Founder & President</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-female.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Shinelle Jagocoy</h3>
                        <span>Group Head Sales & Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-male.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>John Elee Sayson, CPA</h3>
                        <span>Group Head Finance</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-male.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Franz Nichole Salomon</h3>
                        <span style="letter-spacing: -0.50px;">Group Head Construction & Trading</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-male.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Andrew Lina, RCHE</h3>
                        <span style="letter-spacing: -0.50px">Group Head Admin. & Procurement</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-male.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Florencio Louis Relao</h3>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/placeholder-male.png" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Timothy Escopete</h3>
                        <span>Group Head IT & Legal</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
